*{
  padding: 0;
  margin: 0;
  box-shadow: 0;
}
body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /*Full viewport height*/
  
}


.main{
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
}

.login{
  padding: 10px 10px;
  font-weight: bold;
  font-size: 40px;
}

.username{
  margin: 5px;
  padding: 20px 80px;
}

.password{
  margin: 5px;
  padding: 20px 80px;
}

.forget{
  font-size: 8px;
  text-align: end;
}

.br{
  padding-top: 100px;
}